.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes FadeFall {
  from {
    top: 0;
    opacity: 1
  }
  to {
    top: 25vh;
    opacity: 0
  }
}
.deco {
  border-radius: 50%;
  width: 1em; height: 1em; 
  position: absolute; top: 0;
  animation: FadeFall 1s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
    width: 0;
    left: 0;
  }
  50% {
    opacity: 1;
    width: 120vw;
    
  }
  100% {
    opacity: 0;
    width: 0;
    right: 0;
  }
}
.decor {
  height: 1em;
  position: absolute;
  animation: fade 3s forwards;
}
#deco2 {
  top: 0;
}
#deco3 {
  bottom: 0;
}