.timeUnit-arrow .material-symbols-outlined {
    width: 18px;
}
/* .timeUnit-arrow p {
    background-color: rgb(59 65 76);
    padding: 8px;
    border-radius: 8px;
} */
.datePickerMainDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    height: inherit;
    justify-content: center;
    margin: 0px 16px 0px 16px;}

.timeUnit-arrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}